body {
  font-family: Helvetica, Arial, "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  margin: 0;
}

.active {
  display: block;
}

.menu-hidden {
  max-height: 0 !important;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

/* Header start */

.test-header_logo img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.test-mobile-header,
.test-mobile-nav {
  display: none;
}

.navbar-nav {
  margin: 0;
  padding: 0;
}

.nav-item {
  padding-left: 0;
}

.nav-link {
  display: block;
  padding: 22px 16px;
  text-decoration: none;
  width: 100%;
}

.test-header_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 0;
}

.test-header_logo {
  padding-left: 16px;
  text-decoration: none;
  color: #292622;
  font-size: 24px;
  font-weight: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.test-header_nav {
  padding-left: 42px;
}

.test-header_nav__list {
  margin: 0;
  padding: 0;
}

.test-mobile-nav .test-header_offer__input input {
  width: 65%;
}

.test-mobile-nav .test-header_offer__btn {
  width: 30%;
}

.header-form {
  padding: 22px 16px;
}

.test-header_nav__list-item {
  display: inline-block;
}

.test-header_nav__list-link {
  display: block;
  text-decoration: none;
  color: #292622;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 23px;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.test-header_nav__list-link--active {
  color: #a33ba3;
}

.test-header_nav__list-link:hover {
  color: #a33ba3;
  background-color: #f8f7fa;
  border-radius: 6px;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.test-header_offer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.test-header_offer__desc_head {
  font-size: 16px;
  font-weight: 500;
  color: #292622;
  margin-top: 0;
  margin-bottom: 5px;
}

.test-header_offer {
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  line-height: 0.9;
  margin-right: 12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.test-header_offer__desc {
  text-align: right;
  margin-right: 17px;
}

.test-header_offer__input input {
  width: 180px;
  height: 40px;
  border-radius: 6px 0px 0px 6px;
  border: solid 1px #b8b8b8;
  border-right: none;
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 12px;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.test-header_offer__input input:active,
.test-header_offer__input input:focus {
  background-color: #fff;
  border: 1px solid #7a7a7a;
  border-right: none;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.test-header_offer__btn {
  min-width: 120px;
  min-height: 38px;
  border-radius: 0px 6px 6px 0px;
  background-color: #a33ba3;
  color: #fff;
  font-weight: 500;
  position: relative;
  left: -4px;
  bottom: 1px;
  border: 1px solid #a33ba3;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.test-header_offer__btn:hover,
.test-header_offer__btn:focus {
  background-color: #7a0f7a;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

/* Header end */

.test-content-section {
  background-color: #f8f7fa;
  padding-top: 20px;
}

.first-section_content {
  background: url('../img/coverHeadBgrnd.png');
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 100%;
  min-height: 400px;
  border-radius: 9px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.first-section_content__desc_author img {
  width: 36px;
  height: 36px;
}

.first-section_content__desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-section_content__desc_author {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.first-section_content__desc_head {
  padding-top: 48px;
  padding-bottom: 16px;
  font-size: 38px;
  font-weight: 600;
  color: #fff;
}

.test-header_offer__desc_text {
  font-size: 13px;
  color: #7a7a7a;
  margin: 0;
}

.first-section_content__desc_author-info {
  font-size: 13px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  padding-left: 10px;
  margin-bottom: 0;
  padding-top: 7px;
  text-transform: uppercase;
}

.test-content-section_info {
  margin: 0 auto;
}

.test-content-section_info__head {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.test-content-section_info__desc {
  font-size: 18px;
  color: #7a7a7a;
  margin-bottom: 0;
  padding-bottom: 40px;
  line-height: 28px;
}

.desc-with-padding {
  padding-bottom: 24px;
}

.test-content-section_info__blockquote {
  min-height: 85px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-weight: 600;
  color: #a33ba3;
  border-left: 3px solid #a33ba3;
  padding-left: 30px;
  margin-left: 48px;
  margin-bottom: 40px;
}

.test-content-section_info__blockquote p {
  margin: 0;
  line-height: 28px;
}

.test-content-section_info__desc a {
  color: #a33ba3;
  text-decoration: none;
}

.test-content-section_info__desc a:hover,
.test-content-section_info__desc a:focus {
  text-decoration: underline;
}

.method-section {
  background: -o-linear-gradient(322deg, #6190ee, #d362c4);
  background: linear-gradient(128deg, #6190ee, #d362c4);
  width: 100%;
  height: 100%;
}

.test-content-section__head {
  padding-top: 48px;
  padding-bottom: 48px;
  margin: 0 auto;
  min-height: 64px;
  border-bottom: 1px solid rgba(248, 247, 250, .22);
  text-align: center;
}

.test-content-section__head_desc {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 0;
  margin: 0 auto;
  line-height: 32px;
}

.test-content-section__prod__desc {
  padding-right: 30px;
}

.test-content-section__prod__desc img {
  width: 128px;
  height: 128px;
}

.test-content-section__prod__desc h1 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 8px;
}

.test-content-section__prod__desc p {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 16px;
}

.test-content-section__prod__desc span {
  font-size: 18px;
  opacity: 0.6;
  color: #fff;
  line-height: 28px;
}

p.test-content-section__prod__desc-p--black {
  color: #292622;
}

.test-content-section-wrapper {
  margin: 56px 0;
}

.test-content-section-wrapper--pad {
  padding: 56px 0;
}

.test-content-section__prod__image .template-img {
  width: 374px;
}

.test-content-section__prod__image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.test-content-section__footer_rank {
  margin-top: 34px;
  margin-bottom: 50px;
}

.test-content-section__footer_rank p:first-child {
  color: #a33ba3;
}

.test-content-section__form {
  margin-top: 56px;
  background-color: #f8f7fa;
  border-radius: 7px;
  -webkit-box-shadow: 0 20px 30px 0 rgba(85, 56, 152, 0.79);
          box-shadow: 0 20px 30px 0 rgba(85, 56, 152, 0.79);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.test-content-section__form_info h1 {
  font-size: 24px;
  font-weight: 600;
  padding-right: 41px;
  padding-top: 22px;
  margin-bottom:0;
}

.test-content-section__form_info p {
  color: #7a7a7a;
  font-size: 18px;
  padding-bottom: 40px;
  margin-bottom: 0;
}

.test-content-section__form input {
  height: 48px;
  border-radius: 6px;
  border: 1px solid #b8b8b8;
  border-right: none;
  border-radius: 6px 0px 0px 6px;
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 12px;
  font-family: inherit;
  font-size: 18px;
}

.test-content-section__form input:focus,
.test-content-section__form input:active {
  background-color: #fff;
  border: 1px solid #7a7a7a;
  border-right: none;
} 

.validation-error {
  border: 1px solid #f55858;
  border-right: none;
}

.submit-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.submit-btn {
  border-radius: 0px 6px 6px 0px;
  border: solid 1px #a33ba3;
  background-color: #a33ba3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  padding: 10px 24px;
  font-size: 18px;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #7a0f7a;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.test-content-section_wide__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  margin: 0 auto;
  padding-bottom: 56px;
}

.test-content-section_wide__footer_proof {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 0;
  margin: 0;
}

.test-content-section_wide__footer_rank__os {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.test-content-section_wide__footer_signing {
  font-size: 14px;
  opacity: 0.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.test-content-section_wide__footer_signing p {
  padding-right: 6px;
  margin: 0;
}

.test-content-section_wide__footer_signing a {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.test-content-section_wide__footer_signing a:hover,
.test-content-section_wide__footer_signing a:focus {
  text-decoration: underline;
}

.test-content-section_wide__footer_rate {
  position: relative;
  top: 3px;
  margin-right: 3px;
}

.test-content-section__opps {
  padding-bottom: 48px;
}

.test-content-section__opps,
.test-content-section_opps__info,
.test-content-section_opps__adds,
.test-content-section_opps__blockquote {
  margin: 0 auto;
}

.test-content-section__opps_head {
  border-bottom: none;
  padding-bottom: 24px;
  padding-top: 64px;
}

.test-content-section_opps__desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin: 0 auto;
  margin-bottom: 20px;
}

.test-content-section__opps_info a,
.test-content-section_opps__desc a {
  color: #a33ba3;
  text-decoration: none;
}

.test-content-section__opps_info a:hover,
.test-content-section_opps__desc a:hover,
.test-content-section__opps_info a:focus,
.test-content-section_opps__desc a:focus {
  text-decoration: underline;
}

.test-content-section_opps__desc h1 {
  font-size: 40px;
  font-weight: 600;
  color: #a33ba3;
  padding-right: 47px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.test-content-section__opps_info {
  line-height: 28px;
  font-size: 18px;
  color: #7a7a7a;
}

.underlined-desc {
  border-bottom: 1px solid #e9e9e9;
}

.centered {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.test-content-section_opps__blockquote {
  margin-top: 48px;
  background-color: #e9e9e9;
  border-left: 2px solid #a33ba3;
  padding: 24px 26px 24px 81px;
  color: #7a7a7a;
}

.test-content-section_opps__blockquote p {
  margin: 0;
  line-height: 20px;
}

.test-content-section_opps__blockquote span {
  color: black;
  font-weight: 600;
}

.test-content-section_opps__adds {
  padding-top: 48px;
  font-size: 18px;
  color: #7a7a7a;
  padding-bottom: 48px;
}

.test-content-section_opps__form {
  background: url('../img/coverFinalBgrnd.png') no-repeat;
  margin: 0 auto;
  border-radius: 9.5px;
}

.test-content-section_opps__form__descr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.test-content-section_opps__form__descr h2 {
  font-size: 24px;
  font-weight: 600;
  padding-right: 41px;
  padding-top: 40px;
  margin-bottom:0;
  color: #ffff;
}

.test-content-section_opps__form__descr p {
  color: #fff;
  font-size: 18px;
  padding-bottom: 40px;
  margin-bottom: 0;
}

.test-content-section_opps__form__descr h2,
.test-content-section_opps__form__descr p {
  padding-left: 36px;
}

.test-content-section_opps__form input {
  height: 48px;
  border-radius: 6px 0px 0px 6px;
  border: solid 1px #b8b8b8;
  border-right: none;
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 12px;
  font-size: 18px;
  font-family: inherit;
}

.test-content-section_opps__form input:focus,
.test-content-section_opps__form input:active {
  background-color: #fff;
  border: solid 1px #7a7a7a;
  border-right: none;
}

.test-content-section_opps__form button {
  margin-right: 36px;
}

.wrapped-desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 48px;
  padding-bottom: 88px;
}

.test-content-section_opps__desc {
  font-size: 18px;
  color: #7a7a7a;
}

.test-content-section_opps__adds p,
.test-content-section_opps__desc p {
  line-height: 28px;
}

.second-method-section {
  background-color: #e9e9e9;
}

.test-content-section__header {
  padding-top: 48px;
  padding-bottom: 48px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #d8d8d8;
}

.test-content-section__header p { 
  color: #a33ba3;
  font-size: 24px;
  max-width: 455px;
  display: block;
  margin: 0 auto;
}

/*.second-product-desc {
  display: flex;
  flex-wrap: wrap;
}*/

.second-product-desc h1 {
  font-size: 24px;
  font-weight: 600;
  color: #292622;
  margin: 0;
  padding: 0;
}

.test-content-section__prod__desc p {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 28px;
}

.second-product-desc span {
  font-size: 18px;
  color: #7a7a7a;
  display: block;
}

.get-btn {
  background-color: #e9e9e9;
  border: solid 1px #b97fb9;
  border-radius: 6px;
  width: 150px;
  height: 40px;
  color: #730073;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  margin-top: 32px;
}

.get-btn:hover,
.get-btn:focus {
  color: #fff;
  background-color: #7a0f7a;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

/*.test-content-section__footer_rank {
  padding-left: 50px;
}
*/
.test-content-section__footer_rank p {
  margin-bottom: 0;
  font-size: 14px;
  color: #7a7a7a;
}

.test-content-section__footer {
  padding-bottom: 84px;
}

.test-content-section_offer,
.test-content-section__guarantees,
.test-content-section__articles {
  margin: 0 auto;
}

.test-content-section_offer h1 {
  padding-top: 64px;
  padding-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
}

.test-content-section_offer p {
  font-size: 18px;
  color: #7a7a7a;
  padding-bottom: 24px;
  margin-bottom: 0;
}

.test-content-section__guaranty-list {
  line-height: 28px;
  padding-left: 14px;
}

.test-content-section__guarantees-list {
  line-height: 1.56;
  padding-bottom: 44px;
}

.test-content-section__guaranty-list li {
  color: #a33ba3;
}

.test-content-section__guaranty-list li span {
  color: #7a7a7a;
  font-size: 18px;
}

.test-content-section__guarantees {
  padding-bottom: 88px;
  border-bottom: 1px solid #e9e9e9;
}

.test-content-section__guarantees h2 {
  padding-top: 14px;
  padding-bottom: 8px;
  font-size: 24px;
}

.test-content-section__guarantees p {
  padding-top: 34px;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 24px;
  line-height: 1.33;
}

.test-content-section__guarantees span {
  font-size: 18px;
  color: #7a7a7a;
  line-height: 1.56;
}

.test-content-section__articles {
  padding-top: 64px;
}

.test-content-section__articles h2 {
  /*padding-top: 64px;*/
  padding-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
}

.test-content-section__articles-list {
  padding-bottom: 88px;
  padding-left: 15px;
}

.test-content-section__articles-list li {
  color: black;
  line-height: 1.56;
}

.test-content-section__articles-list a {
  color: #a33ba3;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}

.test-content-section__articles-list a:hover,
.test-content-section__articles-list a:focus {
  text-decoration: underline;
}

.test-content-section_articles-form {
  margin: 0 auto;
  background: url('../img/coverFinalBgrnd@2x.png') no-repeat;
  border-radius: 9px;
}

.test-content-section_form__desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f7fa;
  -webkit-box-shadow: 0 20px 30px 0 rgba(85, 56, 152, 0.79);
          box-shadow: 0 20px 30px 0 rgba(85, 56, 152, 0.79);
  border-radius: 7px;
  margin-top: 137px;
  margin-bottom: 152px;
}

.article-form h2 {
  font-size: 24px;
  padding-top: 40px;
}

.article-form p {
  color: #7a7a7a;
  font-size: 18px;
  line-height: 1.56;
}

.article-form h2,
.article-form p {
  padding-left: 36px;
  padding-right: 41px;
}

.test-content-section_articles-form {
  background: url('../img/coverFinalBgrnd.png');
  margin: 0 auto;
  width: 100%;
  min-height: 423px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.test-content-section_articles-form input {
  width: 211px;
  height: 48px;
  color: #a3a3a3;
  border: solid 1px #b8b8b8;
  border-radius: 6px 0px 0px 6px;
  padding-left: 12px;
  font-size: 18px;
  font-family: inherit;
}

.articles-btn {
  margin-right: 36px;
}

.test-content-section_articles__footer {
  display: none;
}

.test-content-section_form__additional {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-bottom: 20px;
}

.test-content-section_form__additional p {
  font-size: 16px;
  color: #fff;
  padding-right: 8px;
  margin: 0;
}

.test-content-section_form__additional a {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.test-content-section_form__additional a:hover,
.test-content-section_form__additional a:focus {
  text-decoration: underline;
}

.test-footer {
  padding-top: 20px;
}

.test-footer__adds {
  min-width: 312px;
  margin: 0 auto;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-source: linear-gradient(to right, rgba(204, 204, 204, 0), #cccccc 50%, rgba(204, 204, 204, 0));
  border-image-slice: 1;
}

.test-footer__list {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 22px;
  margin-bottom: 0;
  padding-left: 0;
}

.test-footer__list li {
  padding-left: 32px;
}

.test-footer__list li:first-child {
  padding-left: 0;
}

.test-footer__list li a {
  font-size: 16px;
  color: #7a7a7a;
  cursor: pointer;
  text-decoration: none;
}

.test-footer__list-second {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.test-footer__list-second p {
  position: relative;
  top: 5px;
}

.test-footer__list-second p,
.test-footer__list-second ul li a {
  font-size: 15px;
  color: #7a7a7a;
  text-decoration: none;
}

.test-footer__list-second ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: 12px;
}

.test-footer__list-second ul li {
  padding-right: 16px;
}

.disqus-block {
  margin-top: 40px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1920px) {
  .first-section_content {
    background-image: url(../img/coverHeadBgrnd@2x.png);
  }

  .test-content-section_opps__form {
    background: url('../img/coverFinalBgrnd@2x.png') no-repeat;
  }

  .test-content-section_articles-form {
    background: url('../img/coverFinalBgrnd@2x.png');
  }
}

@media screen and (max-width: 1200px) {
  .test-header {
    display: none;
  }

  .test-mobile-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .test-mobile-nav {
    display: block;
    -webkit-transition: max-height 300ms ease-in-out;
    -o-transition: max-height 300ms ease-in-out;
    transition: max-height 300ms ease-in-out;
    max-height: 50em;
  }

  .form-trials {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*align-items: center;*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .form-trials p {
    color: black;
    margin-bottom: 0;
  }

  .form-trials span {
    color: #7a7a7a;
  }


  .test-mobile-nav .test-header_offer__btn {
    top: -1px;
  }

}

@media screen and (max-width: 991px) {


  .test-header_logo__content {
    color: #000;
    margin-bottom: 0;
  }

  .nav-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler-icon {
    color: #a33ba3;
  }

  

  .form-inline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .btn-outline-success {
    color: #fff;
    border: none;
    background-color: #a33ba3;
  }

  .test-content-section_wide__footer_signing {
    padding-left: 30px;
  }

  .navbar-collapse {
    width: 100%;
  }

  .navbar {
    color: #fff;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .nav-item:hover {
    background-color: #f8f7fa;
    color: #a33ba3;
    width: 100%;
  }

  .navbar-nav:first-child {
    border-top: 1px solid #f8f7fa;
    margin-top: 13px;
  }

  .nav-item {
    border-bottom: 1px solid #f8f7fa;
  }

  .nav-link {
    padding-left: 15px;
  }

  .test-content-section__prod__desc {
    margin-bottom: 50px;
  }

  .test-content-section__prod__image {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .test-content-section__form input {
    width: 200px;
  }

  .test-content-section_opps__form input {
    width: 180px;
  }

  .test-content-section_opps__form__descr h2,
  .test-content-section_opps__form__descr p {
    padding-left: 25px;
  }

  .submit-btn {
    padding: 10px 16px;
  }

  .article-form h2,
  .article-form p {
    padding-left: 25px;
    padding-right: 25px;
  }

  .articles-btn {
    margin-right: 25px;
  }

  .test-content-section_articles-form input {
    width: 190px;
  }
}

@media screen and (max-width: 768px) {
  .first-section_content__desc_head {
    text-align: center;
  }

  .test-content-section_wide__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .test-content-section_wide__footer_signing {
    padding-left: 0;
  }

  .test-content-section__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .test-content-section__form {
    padding: 36px 19px;
  }

  .test-content-section__form_info {
    text-align: center;
  }

  .test-content-section__form_info h1 {
    padding: 0;
    margin: 0;
  }

  .submit-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .test-content-section__form input {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #b8b8b8;
    margin-bottom: 13px;
  }

  .test-content-section__form input:active,
  .test-content-section__form input:focus {
    border: 1px solid #b8b8b8;
  }

  .submit-btn {
    border-radius: 6px;
  }

  .test-content-section_opps__form {
    width: 100%;
  }

  .test-content-section_opps__form__descr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 36px 19px;
  }

  .test-content-section_opps__form__descr h2,
  .test-content-section_opps__form__descr p {
    padding: 0;
    margin: 0;
  }

  .test-content-section_opps__form__info {
    text-align: center;
    margin-bottom: 20px;
  }

  .submit-form__input {
    width: 100%
  }

  .test-content-section_opps__form input {
    width: 100%;
    margin-bottom: 13px;
    border-radius: 6px;
  }

  .test-content-section_opps__form button {
    width: 100%;
  }

  .test-content-section_form__desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 36px 19px;
    width: 100%;
  }

  .article-form h2,
  .article-form p {
    margin: 0;
    padding: 0;
  }

  .test-content-section__form_info {
    margin-bottom: 20px;
  }

  .test-content-section_articles-form input {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 13px;
  }

  .test-content-section_form__desc .submit-btn {
    width: 100%;
  }
}

@media screen and (max-width: 427px) {

/*  input {
    padding-left: 13px;
  }

  form {
    display: flex;
    flex-direction: column;
  }*/

  .test-content-section_opps__form {
    width: 90%;
  }

  .test-header_offer__input {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }

  .form-control input {
    margin-right: 0;
  }

  .test-header_logo {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
    padding-left: 15px;
  }


  .test-header_logo__content {
    margin-bottom: 0;
    color: #000;
  }

  .navbar {
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-nav:first-child {
    border-top: 1px solid #f8f7fa;
    margin-top: 13px;
  }

  .navbar-toggler {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .navbar-collapse {
    width: 100%;
  }

  .nav-link:hover {
    background-color: #f8f7fa;
    color: #a33ba3;
    width: 100%;
  }

  .form-trials {
    margin-left: 0;
  }

  .form-trials p {
    font-size: 16px;
    color: #292622;
    margin-bottom: 0;
    padding-top: 22px;
    margin-right: auto;
  }

  .form-trials span {
    font-size: 13px;
    color: #7a7a7a;
  }

  .nav-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    /*padding-left: 15px;*/
  }

  .header-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-left: 15px;
  }

  .navbar-toggler.collapsed.show {
    position: absolute;
  }

  .first-section_content__desc_head,
  .test-content-section_info h3 {
    text-align: center;
  }

  .test-content-section_info {
    padding-top: 0;
  }

  .test-content-section_info__blockquote {
    width: 100%;
    margin-left: 0;
  }

  .frp-head {
    padding-top: 0;
  }

  .test-content-section__head {
    padding-top: 0;
    border: none;
  }

  .test-content-section__head_desc {
    font-size: 15px;
    width: 100%;
  }

  .test-content-section__prod__desc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
  }

  .test-content-section__prod__desc h1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .test-content-section__prod {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0;
    margin-bottom: 34px;
  }

  .test-content-section__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }

  .test-content-section__form_info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .test-content-section__form_info h1 {
    padding-right: 0;
  }

  .test-content-section__form input {
    border-radius: 6px;
  }

  .test-content-section__form_info p {
    padding-bottom: 24px;
  }

  .submit-btn {
    margin-top: 13px;
    margin-bottom: 36px;
    border-radius: 6px;
  }

  .template-img,
  .test-content-section_wide__footer_proof,
  .test-content-section_wide__footer_rank__os {
    display: none;
  }

  .test-content-section_wide__footer_signing {
    padding-left: 0;
  }

  .test-content-section__opps_head {
    text-align: center;
  }

  .test-content-section__opps_info {
    margin-bottom: 0;
    padding-left: 20px;
  }

  .test-content-section_opps__desc h1 {
    padding-right: 30px;
  }

  .test-content-section_opps__blockquote {
    margin-top: 0;
    padding-left: 24px;
  }

  .test-content-section_opps__form__descr {
    background-color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 6px;
    border: none;
  }

  .test-content-section_opps__form__descr h2 {
    font-size: 22px;
  }

  .test-content-section_opps__form input {
    border-radius: 6px;
  }

  .opps-submit-btn {
    margin: 0 auto;
    margin-top: 13px;
    margin-bottom: 38px;
  }

  .test-content-section_opps__desc {
    padding-bottom: 0;
  }

  .test-content-section__prod__desc h1 {
    padding-top: 0;
  }

  .test-content-section__prod__desc p {
    text-align: center;
  }

  .second-product-desc span {
    padding-bottom: 25px;
  }

  .test-content-section__footer_rank {
    display: none;
  }

  .test-content-section_offer h1 {
    padding-top: 0;
    margin-bottom: 0;
    text-align: center;
  }

  .test-content-section__guarantees h2 {
    padding-top: 22px;
    padding-bottom: 12px;
  }

  .test-content-section__guarantees p {
    padding-top: 0;
  }

  .test-content-section__guarantees {
    border-bottom: none;
    padding-bottom: 0;
  }

  .test-content-section__articles  {
    padding-top: 20px;
  }

  .test-content-section__articles-list {
    padding-bottom: 0;
  }

  .test-content-section_form__desc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 42px;
  }

  .test-content-section__articles h2 {
    padding-top: 0;
  }

  .article-form h2 {
    font-size: 22px;
  }

  .test-content-section_articles-form input {
    border-radius: 6px;
  }

  .articles-btn,
  .test-content-section_opps__form button {
    margin: 0 auto;
    margin-top: 13px;
    margin-bottom: 36px;
  }

  .test-content-section_articles__footer {
    display: block;
  }

  .test-content-section_articles__footer_rank p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 0;
  }

  .test-content-section_articles__footer_rank__os {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
  }

  .test-content-section_form__additional {
    margin-right: auto;
  }

  .test-content-section_form__additional p,
  .test-content-section_form__additional a {
    font-size: 14px;
  }

  .test-content-section_form__additional p {
    padding-left: 36px;
  }

  .test-content-section_articles-form {
    background-position-y: center;
  }

  .test-content-section__header p {
    margin-left: 0;
    margin-right: 0;
    font-size: 21px;
    padding-top: 0;
    text-align: center;
  }

  .test-content-section__header {
    border: none;
    padding-top: 0;
    min-width: 300px;
  }

  .form-control {
    width: 224px;
    border-radius: 6px 0px 0px 6px;
  }

  .btn-outline-success {
    border-radius: 0px 6px 6px 0px;
    background-color: #a33ba3;
    color: #fff;
    border: none;
  }

  .form-inline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .navbar-toggler {
    position: absolute;
  }

}

@media screen and (max-width: 386px) {
  .test-mobile-nav .test-header_offer__input input {
    width: 55%;
  }
}

/* Icons sprite */

.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-star-purple {
  width: 19px;
  height: 19px;
  background-position: -5px -5px;
  display: inline-block;
}

.sprite-star-white {
  width: 19px;
  height: 19px;
  background-position: -34px -5px;
  display: inline-block;
}


/* Hamburger */

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #a33ba3;
}

.hamburger-box {
  width: 28px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 28px;
  height: 3px;
  background-color: #a33ba3;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -7px;
}

.hamburger-inner::after {
  bottom: -7px;
}

.hamburger--spin .hamburger-inner {
  -webkit-transition-duration: 0.22s;
       -o-transition-duration: 0.22s;
          transition-duration: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
    -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    -o-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition-delay: 0.12s;
       -o-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  -o-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}